body {
	font-family: sans-serif;
	font-size: 100%;
}

div {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-size: 250%;
}

.main {
  margin: 50 auto 0 auto;
  width: 474px;
  height: 474px;
  background-color: #2c3e50;
}

ul {
	padding: 0;
	list-style: none;
}

h1 {
  margin: auto;
  text-align: center;
}

header {
	width: 500px;
	text-align: center;
	margin: auto;
}

.big-cell > ul {
  margin: 1px;
  width: 156px;
  height: 156px;
  float: left;
  background-color: white;
}

.current > ul{
  background-color: red;
}

.cell {
  margin: 1px;
  width: 50px;
  height: 50px;
  float: left;
  background-color: #ecf0f1;
}

.x-turn {
	background-color: #bb8ecd;
}

.o-turn {
	background-color: #55a5d9;
}

.x {
	text-align: center;
	line-height: 50px;
    margin: 1px;
    width: 50px;
    height: 50px;
    float: left;
  	background-color: #9b59b6;
}

.o {
	text-align: center;
	line-height: 50px;
	margin: 1px;
	width: 50px;
	height: 50px;
	float: left;
  	background-color: #2980b9;
}

.giant-x {
	font-size: 100px;
	text-align: center;
    margin: 1px;
    width: 156px;
    height: 156px;
    float: left;
    background-color: #9b59b6;
	
}

.giant-o {
	font-size: 100px;
	text-align: center;
    margin: 1px;
    width: 156px;
    height: 156px;
    float: left;
    background-color: #2980b9;
	
}

